._popup {
  width: 130px;
  position: absolute;
  right: 0;
  border: 2px solid;
  margin-top: 60px;
  background-color: white;
  /* display: none; */
}

._pages{
  cursor: pointer;
  font-size: 12px;
  padding-left: 15px;

}
._pages:hover{
  color: purple;
}