._catBtn{
    margin-right: 5px !important;
    margin-bottom: 2px !important;
    font-size: 10px !important;
}
.create_question{
    width: 95%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}